body, html {
    margin: 0;
}

#message-input {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#chat-screen {
 padding-bottom: 70px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    background-color: darkgray;
    font-family: cursive;
    text-shadow: 2px 2px 2px white;
}

.message-container {
    display: flex;
    align-items: flex-start;
    background-color: lightgray;
}

.message-container .user-photo {
    border-radius: 70%;
}

#login-btn {
    width: 100vw;
    text-align: center;
    background-color: lightgreen;
    border-color: black;
    font-size: 20px;
    font-family: fantasy;
}

.input-container {
  position: absolute;
  background-color: red;
  bottom: 0;
}

#message-input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 80%;
  padding: 8px 15px;
}

.message-container:last-of-type {
  animation:  new-message 300ms 50ms forwards;
  background-color: white;
}

@keyframes new-message {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    background-color: lightgray;
  }

}
