body, html {
    margin: 0;
    background-image: url(../images/matrix.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#message-input {
    width: 100%;
}

#chat-screen {
 min-height: calc(100vh - 53px);
}

.title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(212,212,212,1) 79%, rgba(194,194,194,1) 93%, rgba(194,194,194,1) 100%);
    font-family: cursive;
    text-shadow: 2px 2px 2px white;
}

.message-container {
    display: flex;
    align-items: flex-start;
    color: white;
    text-shadow: 1px 1px 1px gray;
}

.message-container .user-photo {
    border-radius: 70%;
    margin-top: 10px;
    background-image: url(../images/neo.png);
}

.message-container .text {
  margin-left: 10px;
}

#login-btn {
    width: 100vw;
    text-align: center;
    background-color: lightgreen;
    border-color: black;
    font-size: 20px;
    font-family: fantasy;
}

.input-container {
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(212,212,212,1) 79%, rgba(194,194,194,1) 93%, rgba(194,194,194,1) 100%);
  width: 100%;
  padding: 10px;
}

#message-input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 80%;
  padding: 8px 15px;
  width: 100%;
}

.message-container:last-of-type {
  animation:  new-message 300ms 50ms forwards;
  /*background-color: white;*/
}

@keyframes new-message {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  95% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}
